@page
@model ElectionsModel
@using VotingSystem.Classes;
@{
    ViewData["Title"] = "Elections";
    string electionOneName = Model.electionList[0].ElectionName;
    string electionOneEndDate = Model.electionList[0].Date.ToShortDateString();
    int electionOneId = Model.electionList[0].ElectionId;
    string electionTwoName = Model.electionList[1].ElectionName;
    string electionTwoEndDate = Model.electionList[1].Date.ToShortDateString();
    int electionTwoId = Model.electionList[1].ElectionId;
    bool SignedIn = signedIn.isSignedIn;
}

<!--
    Author: Kalen Wallin
    Date: 4/9/21
    Description: Elections page shows every election thus far.
    -->
@if (SignedIn)
{
    <div class="general-container">
        <div class="text-center">
            <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
            <h1 class="display-4">Elections</h1>
            <br />
            <a asp-page="/Vote" asp-route-electionId="@electionOneId">
                <div class="w3-election-card-container">
                    <div class="w3-election-card w3-white">
                        <header class="w3-container">
                            <h3>@electionOneName</h3>
                        </header>
                        <div class="w3-container">
                            <hr>
                            <p>@electionOneEndDate</p>
                        </div>
                    </div>
                </div>
            </a>
            <br />
            <div class="w3-election-card-container">
                <div class="w3-election-card w3-white">
                    <header class="w3-container">
                        <h3>@electionTwoName</h3>
                    </header>
                    <div class="w3-container">
                        <hr>
                        <p>@electionTwoEndDate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="general-container">
        <div class="text-center">
            <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
            <h1 class="display-4">Oops!</h1>
            <h2 class="text-danger">You must be signed in to visit this page.</h2>
            <br />
            <form action="/Login">
                <div class="text-center">
                    <input type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
}
