@page
@model VotingSystem.Pages.VoteModel
@using VotingSystem.Classes;
@{
    //ballot UI
    Election election = Model.election;
    string electionName = election.ElectionName;
    //for formatting purposes
    string[] electionNameTokenized = electionName.Split();
    ViewData["Title"] = electionName;
    string race1 = election.CandidateDecisions[0].DecisionName;
    string race1Candidate1 = election.CandidateDecisions[0].Candidate1.Name;
    string race1Candidate2 = election.CandidateDecisions[0].Candidate2.Name;
    string race2 = election.CandidateDecisions[1].DecisionName;
    string race2Candidate1 = election.CandidateDecisions[1].Candidate1.Name;
    string race2Candidate2 = election.CandidateDecisions[1].Candidate2.Name;
    string issueName = election.IssueDecisions[0].Name;
    string issueDesc = election.IssueDecisions[0].Description;

    //user's votes
    Ballot ballot = Model.ballot;
    bool userVoted = false;
    string race1Vote = "user has not voted";
    string race2Vote = "user has not voted";
    bool issueVoteBool = false;
    string issueVote = "user has not voted";
    if (ballot != null)
    {
        userVoted = true;
        race1Vote = ballot.Candidate1.Name;
        race2Vote = ballot.Candidate2.Name;
        issueVoteBool = ballot.VotedYes;
    }
    if (issueVoteBool)
    {
        issueVote = "Yes";
    }
    else
    {
        issueVote = "No";
    }

    //election results
    int race1Candidate1Votes = election.CandidateDecisions[0].Candidate1.Votes;
    int race1Candidate2Votes = election.CandidateDecisions[0].Candidate2.Votes;
    int race2Candidate1Votes = election.CandidateDecisions[1].Candidate1.Votes;
    int race2Candidate2Votes = election.CandidateDecisions[1].Candidate2.Votes;
    int issueYesVotes = election.IssueDecisions[0].VotesFor;
    int issueNoVotes = election.IssueDecisions[0].VotesAgainst;

    //check if election has ended
    // Note to Grader: Change the "electionEnded" bool to true to see the election results.
    // It is set to true when the election is over, but chances are you won't want to wait until the
    // set date just to see the results.
    bool electionEnded = false;
    DateTime electionDate = election.Date;

    //if electionDate is earlier than now, then the election has ended
    if (DateTime.Compare(electionDate, DateTime.Now) < 0)
    {
        electionEnded = true;
    }
}

<!--
    Author: Kalen Wallin
    Date: 4/9/21
    Description: Voting ballot for the 2021 Pacopolis Election. If the election has ended
                 then the ballot will display the winners and the votes for each candidate.
                 If a user has voted, then their choices will be displayed.
    -->

@if (signedIn.isSignedIn)
{
    //If user has already voted display their ballot choices
    if (userVoted)
    {
        <div class="general-container">
            <div class="text-center">
                <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
                <h1 class="display-4">@electionNameTokenized[0] @electionNameTokenized[1] <br /> @electionNameTokenized[2] Ballot</h1>
                <br />
                <header class="w3-container">
                    <h2><b>@race1</b></h2>
                </header>
                <form action="/VoteSubmitted" id="ballot" method="get">
                    <div class="container">
                        <div class="text-center">
                            <h3>You selected <b>@race1Vote</b></h3>
                            @if (electionEnded && race1Candidate1Votes == race1Candidate2Votes)
                            {
                                <h3><b>It's a tie!</b></h3>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race1Candidate1Votes > race1Candidate2Votes)
                                {
                                    <h3><b>@race1Candidate1Votes</b></h3>
                                    <h3><b>@race1Candidate1 Won!</b></h3>
                                }
                                else if (electionEnded && race1Candidate1Votes < race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate1Votes</h3>
                                    <h3>@race1Candidate1</h3>
                                }
                                else if (electionEnded && race1Candidate1Votes == race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate1Votes</h3>
                                    <h3>@race1Candidate1</h3>
                                }
                                else
                                {
                                    <h3>@race1Candidate1</h3>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race1Candidate1Votes < race1Candidate2Votes)
                                {
                                    <h3><b>@race1Candidate2Votes</b></h3>
                                    <h3><b>@race1Candidate2 Won!</b></h3>
                                }
                                else if (electionEnded && race1Candidate1Votes > race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate2Votes</h3>
                                    <h3>@race1Candidate2</h3>
                                }
                                else if (electionEnded && race1Candidate1Votes == race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate2Votes</h3>
                                    <h3>@race1Candidate2</h3>
                                }
                                else
                                {
                                    <h3>@race1Candidate2</h3>
                                }
                            </div>
                        </div>
                    </div>
                    <header class="w3-container">
                        <h2><b>@race2</b></h2>
                    </header>
                    <div class="container">
                        <div class="text-center">
                            <h3>You selected <b>@race2Vote</b></h3>
                            @if (electionEnded && race2Candidate1Votes == race2Candidate2Votes)
                            {
                                <h3><b>It's a tie!</b></h3>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race2Candidate1Votes > race2Candidate2Votes)
                                {
                                    <h3><b>@race2Candidate1Votes</b></h3>
                                    <h3><b>@race2Candidate1 Won!</b></h3>
                                }
                                else if (electionEnded && race2Candidate1Votes < race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate1Votes</h3>
                                    <h3>@race2Candidate1</h3>
                                }
                                else if (electionEnded && race2Candidate1Votes == race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate1Votes</h3>
                                    <h3>@race2Candidate1</h3>
                                }
                                else
                                {
                                    <h3>@race2Candidate1</h3>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race2Candidate1Votes < race2Candidate2Votes)
                                {
                                    <h3><b>@race2Candidate2Votes</b></h3>
                                    <h3><b>@race2Candidate2 Won!</b></h3>
                                }
                                else if (electionEnded && race2Candidate1Votes > race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate2Votes</h3>
                                    <h3>@race2Candidate2</h3>
                                }
                                else if (electionEnded && race2Candidate1Votes == race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate2Votes</h3>
                                    <h3>@race2Candidate2</h3>
                                }
                                else
                                {
                                    <h3>@race2Candidate2</h3>
                                }
                            </div>
                        </div>
                    </div>
                    <header class="w3-container">
                        <h2><b>@issueName</b></h2>
                    </header>
                    <div class="container">
                        <p>
                            @issueDesc
                        </p>
                    </div>
                    <div class="container">
                        <div class="text-center">
                            <h3>You selected <b>@issueVote</b></h3>
                            @if (electionEnded && issueYesVotes == issueNoVotes)
                            {
                                <h3><b>It's a tie!</b></h3>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && issueYesVotes > issueNoVotes)
                                {
                                    <h3><b>@issueYesVotes</b></h3>
                                    <h3><b>Yes</b></h3>
                                    <h3><b>@issueName bill has passed!</b></h3>
                                }
                                else if (electionEnded && issueYesVotes < issueNoVotes)
                                {
                                    <h3>@issueYesVotes</h3>
                                    <h3>Yes</h3>
                                }
                                else if (electionEnded && issueYesVotes == issueNoVotes)
                                {
                                    <h3>@issueYesVotes</h3>
                                    <h3>Yes</h3>
                                }
                                else
                                {
                                    <h3>Yes</h3>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && issueYesVotes < issueNoVotes)
                                {
                                    <h3><b>@issueNoVotes</b></h3>
                                    <h3><b>No</b></h3>
                                    <h3><b>@issueName bill has not passed!</b></h3>
                                }
                                else if (electionEnded && issueYesVotes > issueNoVotes)
                                {
                                    <h3>@issueNoVotes</h3>
                                    <h3>No</h3>
                                }
                                else if (electionEnded && issueYesVotes == issueNoVotes)
                                {
                                    <h3>@issueNoVotes</h3>
                                    <h3>No</h3>
                                }
                                else
                                {
                                    <h3>No</h3>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    //if user hasn't voted, but the election has ended display the results
    else if (electionEnded)
    {
        <div class="general-container">
            <div class="text-center">
                <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
                <h1 class="display-4">@electionNameTokenized[0] @electionNameTokenized[1] <br /> @electionNameTokenized[2] Ballot</h1>
                <br />
                <header class="w3-container">
                    <h2><b>@race1</b></h2>
                </header>
                <form action="/VoteSubmitted" id="ballot" method="get">
                    <div class="container">
                        <div class="text-center">
                            @if (electionEnded && race1Candidate1Votes == race1Candidate2Votes)
                            {
                                <h3><b>It's a tie!</b></h3>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race1Candidate1Votes > race1Candidate2Votes)
                                {
                                    <h3><b>@race1Candidate1Votes</b></h3>
                                    <h3><b>@race1Candidate1 Won!</b></h3>
                                }
                                else if (electionEnded && race1Candidate1Votes < race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate1Votes</h3>
                                    <h3>@race1Candidate1</h3>
                                }
                                else if (electionEnded && race1Candidate1Votes == race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate1Votes</h3>
                                    <h3>@race1Candidate1</h3>
                                }
                                else
                                {
                                    <h3>@race1Candidate1</h3>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race1Candidate1Votes < race1Candidate2Votes)
                                {
                                    <h3><b>@race1Candidate2Votes</b></h3>
                                    <h3><b>@race1Candidate2 Won!</b></h3>
                                }
                                else if (electionEnded && race1Candidate1Votes > race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate2Votes</h3>
                                    <h3>@race1Candidate2</h3>
                                }
                                else if (electionEnded && race1Candidate1Votes == race1Candidate2Votes)
                                {
                                    <h3>@race1Candidate2Votes</h3>
                                    <h3>@race1Candidate2</h3>
                                }
                                else
                                {
                                    <h3>@race1Candidate2</h3>
                                }
                            </div>
                        </div>
                    </div>
                    <header class="w3-container">
                        <h2><b>@race2</b></h2>
                    </header>
                    <div class="container">
                        <div class="text-center">
                            @if (electionEnded && race2Candidate1Votes == race2Candidate2Votes)
                            {
                                <h3><b>It's a tie!</b></h3>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race2Candidate1Votes > race2Candidate2Votes)
                                {
                                    <h3><b>@race2Candidate1Votes</b></h3>
                                    <h3><b>@race2Candidate1 Won!</b></h3>
                                }
                                else if (electionEnded && race2Candidate1Votes < race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate1Votes</h3>
                                    <h3>@race2Candidate1</h3>
                                }
                                else if (electionEnded && race2Candidate1Votes == race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate1Votes</h3>
                                    <h3>@race2Candidate1</h3>
                                }
                                else
                                {
                                    <h3>@race2Candidate1</h3>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && race2Candidate1Votes < race2Candidate2Votes)
                                {
                                    <h3><b>@race2Candidate2Votes</b></h3>
                                    <h3><b>@race2Candidate2 Won!</b></h3>
                                }
                                else if (electionEnded && race2Candidate1Votes > race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate2Votes</h3>
                                    <h3>@race2Candidate2</h3>
                                }
                                else if (electionEnded && race2Candidate1Votes == race2Candidate2Votes)
                                {
                                    <h3>@race2Candidate2Votes</h3>
                                    <h3>@race2Candidate2</h3>
                                }
                                else
                                {
                                    <h3>@race2Candidate2</h3>
                                }
                            </div>
                        </div>
                    </div>
                    <header class="w3-container">
                        <h2><b>@issueName</b></h2>
                    </header>
                    <div class="container">
                        <p>
                            @issueDesc
                        </p>
                    </div>
                    <div class="container">
                        <div class="text-center">
                            @if (electionEnded && issueYesVotes == issueNoVotes)
                            {
                                <h3><b>It's a tie!</b></h3>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && issueYesVotes > issueNoVotes)
                                {
                                    <h3><b>@issueYesVotes</b></h3>
                                    <h3><b>Yes</b></h3>
                                    <h3><b>@issueName bill has passed!</b></h3>
                                }
                                else if (electionEnded && issueYesVotes < issueNoVotes)
                                {
                                    <h3>@issueYesVotes</h3>
                                    <h3>Yes</h3>
                                }
                                else if (electionEnded && issueYesVotes == issueNoVotes)
                                {
                                    <h3>@issueYesVotes</h3>
                                    <h3>Yes</h3>
                                }
                                else
                                {
                                    <h3>Yes</h3>
                                }
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                @if (electionEnded && issueYesVotes < issueNoVotes)
                                {
                                    <h3><b>@issueNoVotes</b></h3>
                                    <h3><b>No</b></h3>
                                    <h3><b>@issueName bill has not passed!</b></h3>
                                }
                                else if (electionEnded && issueYesVotes > issueNoVotes)
                                {
                                    <h3>@issueNoVotes</h3>
                                    <h3>No</h3>
                                }
                                else if (electionEnded && issueYesVotes == issueNoVotes)
                                {
                                    <h3>@issueNoVotes</h3>
                                    <h3>No</h3>
                                }
                                else
                                {
                                    <h3>No</h3>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    //If user hasn't voted yet display an unfilled ballot
    else
    {
        <div class="general-container">
            <div class="text-center">
                <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
                <h1 class="display-4">@electionNameTokenized[0] @electionNameTokenized[1] <br /> @electionNameTokenized[2] Ballot</h1>
                <br />
                <form method="post">
                    <header class="w3-container">
                        <h2><b>@race1</b></h2>
                        <span asp-validation-for="race1Vote" class="text-danger"></span>
                    </header>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input asp-for="race1Vote" type="radio" id="mayoralCandidateOne" value="@race1Candidate1" required>
                                <h3>@race1Candidate1</h3>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input asp-for="race1Vote" type="radio" id="mayoralCandidateTwo" value="@race1Candidate2" required>
                                <h3>@race1Candidate2</h3>
                            </div>
                        </div>
                    </div>
                    <header class="w3-container">
                        <h2><b>@race2</b></h2>
                        <span asp-validation-for="race2Vote" class="text-danger"></span>
                    </header>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="radio" asp-for="race2Vote" id="sheriffCandidateOne" value="@race2Candidate1" required>
                                <h3>@race2Candidate1</h3>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="radio" asp-for="race2Vote" id="sheriffCandidateTwo" value="@race2Candidate2" required>
                                <h3>@race2Candidate2</h3>
                            </div>
                        </div>
                    </div>
                    <header class="w3-container">
                        <h2><b>@issueName</b></h2>
                    </header>
                    <div class="container">
                        <p>
                            @issueDesc
                        </p>
                        <span asp-validation-for="issueVote" class="text-danger"></span>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="radio" asp-for="issueVote" id="yes" value="true" required>
                                <h3>Yes</h3>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="radio" asp-for="issueVote" id="no" value="false" required>
                                <h3>No</h3>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="text-center">
                        <input type="submit" value="Submit" onclick="return confirm('Please review your selections and press OK when you\'re finished to submit your ballot.')">
                    </div>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="general-container">
        <div class="text-center">
            <img src="/Images/VotingSystemIconCutoff.png" alt="Voting System Logo" style="width:128px;height:128px;" />
            <h1 class="display-4">Oops!</h1>
            <h2 class="text-danger">You must be signed in to visit this page.</h2>
            <br />
            <form action="/Login">
                <div class="text-center">
                    <input type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}