@model VotingSystem.Models.Candidate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Election)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Election.ElectionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Votes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Votes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CandidateID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
