@model IEnumerable<VotingSystem.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Election)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Votes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Election.ElectionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Votes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CandidateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CandidateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CandidateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
